<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tathao.orderingcoffee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_order_food"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoginView.LoginActivity"></activity>
        <activity android:name=".view.SignUpView.SignUpActivity" />
        <activity android:name=".view.Activity.VerifyPhoneActivity" />
        <activity android:name=".view.Activity.ForgetPasswordActivity" />
        <activity android:name=".view.Activity.VerifyEmailActivity" />
        <activity android:name=".view.Activity.ChangePasswordActivity" />
        <activity android:name=".view.Activity.ChangePasswordSuccessActivity" />
        <activity
            android:name=".view.Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".view.CheckInternetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SignUpView.SignUpLayout2"></activity>
    </application>

</manifest>